<!DOCTYPE html>
<html>
  <head>
    <title>Cabal</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h1><%=  link_to("Cabal", "/") %></h1>

      <% if logged_in? %>
        <div class="username"><%= @current_user.username.capitalize %></div>
        <div class="logout"><%= link_to 'Log out?', logout_path, method: 'delete' %></div>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
